.anotacao-container {
    margin: 80px auto;
    max-width: 600px;
    padding: 40px;
    border-radius: 20px;

    background: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    background-color: black;

    color: white;
}

.anotacao-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.campo span {
    margin-bottom: 5px;
}

.campo input, .campo select, .campo textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.15);
    color: white;
}

.botao {
    width: 100%;
    padding: 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}
