@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:wght@100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #000000, #333333);
    font-family: "Michroma", sans-serif;
    color: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Vídeo de fundo */
.bg-video {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
    pointer-events: none;
}

/* HEADER */
.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 60px;
    z-index:1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 70px;
    height: 70px;
    opacity: 0.85;
    transition: 0.3s ease;
}

.logo img:hover {
    transform: scale(1.15);
}

/* Botão registrar */
.btn-cadastrar {
    padding: 0.6rem 2rem;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 700;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn-cadastrar:hover {
    letter-spacing: 1px;
    transform: translateY(-2px);
    opacity: 1;
}

/* LOGIN CONTENT */
.login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    z-index: 1; 
    margin-top: -50px;
}

/* CARD LOGIN */
.card-login {
    width: 100%;
    max-width: 430px;
    padding: 40px;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.10);
    border: 2px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.40);
    color: #fff;
    text-align: center;
}

/* Título */
.card-login h2 {
    font-size: 1.8rem;
    margin-bottom: 25px;
}

/* Inputs */
.campo {
    margin-bottom: 18px;
    text-align: left;
}

.campo span {
    font-size: 0.95rem;
    color: #eaeaea;
    margin-bottom: 6px;
    display: block;
}

.campo input {
    width: 100%;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.35);

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5px);

    color: #fff;
    font-size: 1rem;
    transition: 0.3s ease;
}

.campo input::placeholder {
    color: rgba(255, 255, 255, 0.55);
}

.campo input:focus {
    border-color: black;
    background: rgba(255, 255, 255, 0.18);
    outline: none;
}

/* Botão */
.botao {
    width: 100%;
    padding: 15px;
    margin-top: 10px;

    background: black;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.botao:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

/* Loading */
.loading-div {
    display: none;
    margin-top: 20px;
}

.loading-div img {
    width: 50px;
}

/* ALERTA DE ERRO */
.alerta_erro {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.card_erro {
    background: #f44336;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: none;
    max-width: 300px;
}

  /* FOOTER */
 
  /* COPYRIGHT */
  .footer-copy {
    text-align: center;
    margin-top: 2.5rem;
    opacity: 0.6;
    font-size: 0.9rem;
  }


  